@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style="color:mediumpurple" class="display-4"><strong>Kütüphane Otomasyon Sistemi</strong></h1>
    <br /><br />
    <p><img src="/img/kapak.png" width="720" height="480" /></p>
</div>
