<div class="text-center">
@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<h1 style="color:mediumpurple">@ViewData["Title"]</h1>

<br />

<br />
<p><strong>E-Posta:  </strong><a href="mailto:info@mustafacoban.com.tr">info@mustafacoban.com.tr</a></p>
<p><strong>Websitesi:  </strong><a href="https://mustafacoban.com.tr">mustafacoban.com.tr</a></p>
</div>